body {
    font-family: "Roboto", sans-serif ;
}
body {
    color: #434455;
}
body {
    background-color: #FFFFFF;
} 
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
span {
    color: #2e2f42;
}

.header-list-first {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-logo a :hover {
    color: #404bbf;
   
}

.header-logo a :focus {
    color: #404bbf;
    
}

.address-list {
font-style: normal;
}

.first-address {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-list :hover {
    color: #404bbf;
}
.address-list :focus {
    color: #404bbf;
}

.first-section {
    background-color: #2e2f42;

}
.special-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.button-selector {
    background-color: #4D5AE5;
    font-family: "Roboto" ,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #404BBF;
}
button:focus {
    background-color: #404BBF;
}




footer {
background-color: #2e2f42;

}
.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1, 17;
    letter-spacing: 0, 03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
}
span.studio-second {
    color: #f4f4fd;
}
